<!doctype html>
<html>
  <head>
    <title>New user</title>
  </head>
  <body>
    <form action="/users" method="post">
      <div>
        <label>
            Nickname
            <input type="text" name="name" value="{{ user.name }}">
        </label>
        {% if errors.name %}
          <div>{{ errors.name }}</div>
          {% endif %}
      </div>
      <div>
        <label>
            Email
            <input type="text" name="email" value="{{ user.email }}">
        </label>
        {% if errors.email %}
            <div>{{ errors['email'] }}</div>
        {% endif %}
      </div>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>